<!DOCTYPE html>
<html>
<head>
    <title>Path Home</title>
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/css/layout-style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <ul class="side-nav fixed">
    <li>Menu</li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Person</a></li>
    <li class="active"><a href="/profile.html" class="subheader">Selected Person</a></li>
        <li><a class="subheader">Person</a></li>
            <li><a class="subheader">Person</a></li>
                <li><a class="subheader">Person</a></li>
  </ul>

  <div id="main-section-container" class="container">
    {% block body %}
    {% endblock %}
  </div>

    <footer class="text-center">
        <hr>
        <p class="muted">App running on port: <code>{{ port }}</code></p>
    </footer>
</body>
</html>
