{% extends 'profile.html' %}

{% block tab %}


<div class="row summary-row">
  <!-- PERFORMENCE METRICS DASH -->
  <div class="section no-pad-bot">
    <div class="container">
      <!-- RIGHT COLUMN -->
      <div class="col s6 summary-col">
        <div class="row">
          <!-- VI-SPDAT Domain Template -->
          <div class="col s12 summary-col"> <h4 class="center"> General <h4> </div>
          <div class="col s6 summary-col"> <p class="center"> Data: <p> </div>
          <div class="col s6 summary-col"> <p class="center"> <b> Value </b> </p> </div>
          <div class="col s6 summary-col"> <p class="center"> Data: <p> </div>
          <div class="col s6 summary-col"> <p class="center"> <b> Value </b> </p> </div>
          <div class="col s6 summary-col"> <p class="center"> Data: <p> </div>
          <div class="col s6 summary-col"> <p class="center"> <b> Value </b> </p> </div>
          <div class="col s6 summary-col"> <p class="center"> Data: <p> </div>
          <div class="col s6 summary-col"> <p class="center"> <b> Value </b> </p> </div>
        </div>
      </div>

      <div class="col s6 summary-col">
        <div class="row">
          <!-- VI-SPDAT Domain Template -->
          <div class="col s12 summary-col"> <h4 class="center"> General <h4> </div>
          <div class="col s6 summary-col"> <p class="center"> Data: <p> </div>
          <div class="col s6 summary-col"> <p class="center"> <b> Value </b> </p> </div>
          <div class="col s6 summary-col"> <p class="center"> Data: <p> </div>
          <div class="col s6 summary-col"> <p class="center"> <b> Value </b> </p> </div>
          <div class="col s6 summary-col"> <p class="center"> Data: <p> </div>
          <div class="col s6 summary-col"> <p class="center"> <b> Value </b> </p> </div>
          <div class="col s6 summary-col"> <p class="center"> Data: <p> </div>
          <div class="col s6 summary-col"> <p class="center"> <b> Value </b> </p> </div>
        </div>
      </div>
      <!-- LEFT COLUMN -->
      <div class="col s6 summary-col">
        <div class="row">
          <!-- VI-SPDAT Domain Template -->
          <div class="col s12 summary-col"> <h4 class="center"> Wellness <h4> </div>
          <div class="col s6 summary-col"> <p class="center"> Data: <p> </div>
          <div class="col s6 summary-col"> <p class="center"> <b> Value </b> </p> </div>
          <div class="col s6 summary-col"> <p class="center"> Data: <p> </div>
          <div class="col s6 summary-col"> <p class="center"> <b> Value </b> </p> </div>
          <div class="col s6 summary-col"> <p class="center"> Data: <p> </div>
          <div class="col s6 summary-col"> <p class="center"> <b> Value </b> </p> </div>
          <div class="col s6 summary-col"> <p class="center"> Data: <p> </div>
          <div class="col s6 summary-col"> <p class="center"> <b> Value </b> </p> </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
